
# misc
.DS_Store
*.pem

# local env files
.env*.local
.coverage

.vscode/
.venv
env
.__pycache__/

.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


__pycache__/
*.pyc

.vscode/
venv/
.venv/
migrations/
*.pdf
User_logs/
*.log

.env